<!doctype html>
<html lang="en">
  <head>
    <title>Hasil Jarak Umur</title>
    <!--<link href="static/index2.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="{{url_for('static',filename="index2.css")}}">
  </head>
  <body>
    <h1>HASIL JARAK UMUR SETELAH INPUT</h1>
    <hr>
      {% if full_data %}
      <p>Tanggal Lahir Anda Adalah {{full_data}}</p>
      {% if selisih_waktu %}
      <p>Jarak Antara Tanggal Hari Ini Dan Tanggal Lahir = {{selisih_waktu}}</p>
      {% endif %}
      {% endif %}
    <hr>

    <section class="waktu_sekarang">
    <p>Kembali Ke Menu Awal?</p>
    <button>
        <a href="{{url_for('index')}}">Ke Menu Awal</a>
      </button>
    </section>
      
    <section class="index3_umur">
      <p>Atau Cek Berapa Umur Anda</p>
      <button>
         <a href="{{url_for('index3')}}">Cek Berapa Umur Anda</a>
      </button>
      </section>
  </body>
</html>
