<!DOCTYPE html>
<html>
    <head>
        <title>Hasil Umur</title>
        <!--<link href="static/index3.css" rel="stylesheet" />-->
        <!--untuk case flask serius pake syntax url_for-->
        <link rel="stylesheet" href="{{url_for('static', filename='index3.css')}}">
    </head>
    <body>
    <h1>HASIL UMUR SETELAH INPUT</h1>
    <hr>
      {% if hasil_umur %}
      <p>Tanggal Lahir Anda Adalah {{hasil_umur}}</p>
      {% if umur_user %}
      <p>Umur Anda Adalah = {{umur_user}}</p>
      {% endif %}
      {% endif %}
    <hr>
    
    <section class="index2_jarak_umur">
    <p>Kembali Ke Menu Awal?</p>
    <button>
        <a href="{{url_for('index')}}">Kembali Ke Menu Awal</a>
      </button> 
      </section>
      
      <section class="index2_jarak_umur">
      <p>Atau Cek Jarak Umur Anda</p>
      <button>
        <a href="{{url_for("index2")}}">Cek Jarak Tanggal Lahir Anda Dengan Hari Ini</a>
      </button>
      </section>
    </body>     
</html>
